.travel {
    padding: 160px 0 120px;
    background-image: url(../img/cocktail.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
.travel__slider {
    &-head {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }
    &-descr{
        margin-top: -230px;
        background-image: url(../img/plane.png);
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: right center;
        padding: 160px 0 0 132px;
        img {
            padding-left: 24px;
        }
    }
    &-subtitle {
        text-align: right;
        padding: 132px 80px 0 0;
    }
}
