.header {
    position: relative;
    height: 100vh;
    &__slider {
        &-item {
            height: 100vh;
            background-image: url(../img/bg_1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }
    &__title {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        font-size: 200px;
        line-height: 156px;
        text-transform: uppercase;
        opacity: 0.07;
        font-weight: 800;
        max-width: 467px;
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
    text-transform: uppercase;
    &-title {
        font-family: Fira Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        text-transform: uppercase;
        margin-bottom: 48px;
    }
    &-subtitle {
        margin-bottom: 5px;
    }
    &-subtext {
        margin-bottom: 8px;
    }
    &-text {
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 20px;
    }
}
.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 7;
    &__right {
        right: 125px;
    }
    &__left {
        right: 80px
    }
}
.slider-dots {
    position: absolute;
    right: 50px;
    bottom: 31px;
    z-index: 5;
    max-width: 920px;
    width: 100%;
    .slick-current {
        .dots-box {
            border-top: 4px solid #4AF6CD;
        }
    }
}
.dots-box {
    width: 200px;
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    border-top: 4px solid #ffffff;
    &__number {
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
        text-transform: uppercase;
    }
    &__name {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }
}
.header__aside {
    position: absolute;
    width: 168px;
    top: 0;
    left: 0;
    z-index: 5;
    border-right: 1px solid rgba(#ffffff, .25);
    height: 100vh;
    text-align: center;
}
.menu {
    li {
        &:hover {
            transform: scale(1.2);
            transition: .2s;
        }
    }
    padding-top: 40px;
    a {
        color: #ffffff;
        span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            font-weight: 500;
            padding-top: 6px;
            margin-bottom: 37px;
        }
    }
}
.header__search {
    padding-bottom: 20px;
}
.header__date {
    font-weight: 800;
    font-size: 72px;
    line-height: 64px;
    text-transform: uppercase;
    span {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 1.4px;
        margin-bottom: 20px;
        display: block;
    }
}
.header__location {
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.05px;
    position: relative;
    padding-left: 19px;
    &::before {
        content: '';
        position: absolute;
        width: 11px;
        height: 13px;
        background-image: url(../icons/POI.svg);
        left: 0;
        top: 0;
    }
}
.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.header__arrows {
    position: absolute;
    bottom: 41px;
    left: 210px;
    z-index: 3;
}
.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animdash 3s infinite 5s;
}
@keyframes animdash {
    to{
        stroke-dashoffset: 0;
    }
}