.surf {
    background-image: url(../../img/surf-poi.png);
    background-position: right 219px;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 160px 0 120px;
    &__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }
    &-box {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__inner {
            min-height: 750px;
            background: rgba(#1c2121, 0.85);
            position: relative;
            transition: all 0.5s;
            &:hover {
                background: rgba(#1c2121, 0.3);
                .surf-box__inner-btn {
                    display: block;
                }
            }
        }
        &__inner-title {
            font-size: 40px;
            line-height: 36px;
            font-weight: 800;
            padding: 72px 0 0 40px;
            width: 140px;
            text-transform: uppercase;
        }
        &__inner-location {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            left: 40px;
            bottom: 80px;
            width: 0;
            height: 0;
            white-space: nowrap;
            span {
                font-weight: 100;
            }
        }
        &__inner-btn {
            display: none;
            bottom: 0;
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
        }
    }
    &-slider {
        padding-top: 110px;
        .slider-arrows {
            top: 50px;
            opacity: 0.5;
        }
        .slick-slide:nth-child(4n + 3) {
            .surf-box {
                margin-top: 89px;
            }
        }
        .slick-slide:nth-child(4n + 1) {
            .surf-box {
                margin-top: 32px;
            }
        }

        .slick-current {
            .surf-box__inner-btn {
                display: block;
            }
            .surf-box__inner {
                background: rgba(#1c2121, 0.3);
            }
        }
    }
}
.slide-map {
    max-width: 1200px;
    min-height: 635px;
    background-image: url(../img/world-map.png);
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
    margin: 0 auto;
    .slick-list {
        min-height: 635px;
    }
    .slick-current {
        .slide-dots__content {
            display: block;
            width: 283px;
            padding: 28px 31px 0 32px;
            background: rgba(#0F1017, 0.6);
            border-radius: 6px;
            
        }
    }
}
.slide-dots {
    position: relative;
    &__circle {
        width: 24px;
        height: 24px;
        background-color: #4AF6CD;
        border-radius: 100%;
    }
    &__content {
        display: none;
        transform: translateX(-60%);
        position: absolute;
        bottom: 35px;
        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 20px solid #4AF6CD;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            bottom: -20px;
            left: calc(60% + 1px);;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        &-title {
            font-weight: 800;
            font-size: 18px;
            line-height: 26px;
            text-transform: uppercase;
            padding-bottom: 8px;
            margin-bottom: 8px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-color: #4AF6CD;
                width: 80px;
                height: 1px;
                bottom: 0;
                left: 0;
            }
        }
        &-subtitle {
            font-size: 16px;
            line-height: 19px;
        }
        &-link {
            padding-top: 4px;
        }
        &-item {
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &-number {
            font-weight: 800;
            font-size: 16px;
            line-height: 23px;
        }
        &-name {
            font-weight: 300;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.slide-dots__content-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}
.slide-dots__content-row {
    margin: 0 auto;
}
.dots--1 {
    top: 330px;
    cursor: pointer;
    .slide-dots__content {
        transform: translateX(0);
        &::before {
            left: 0;
        }
    }
}
.dots--2 {
    top: 300px;
    cursor: pointer;
    .slide-dots__circle {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../icons/maps-poi-smal.png);
            width: 14px;
            height: 17px;
            background-size: cover;
            right: -36px;
            top: -2px;
        }
    }

}
.dots--3 {
    cursor: pointer;
    top: 318px;
    left: 34px;
}
.dots--4 {
    cursor: pointer;
    top: 501px;
    left: -45px;
}
.dots--5 {
    cursor: pointer;
    top: 212px;
    left: -70px;  
}
.dots--6 {
    cursor: pointer;
    top: 555px;
    left: -115px;
}
.dots--7 {
    cursor: pointer;
    top: 407px;
    left: -36px;
}
.dots--8 {
    cursor: pointer;
    top: 500px;
    left: 37px;
}